
  <section class="header-margin-top mb-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center main mb-4">
          <h5 class="my-3">
            Wish List
          </h5>
        </div>
        <div class="" *ngIf="favo <= 0">
          <section>
            <div class="container">
                <div class="row p-0">
                    <div class="col-md-12">
                        <div class="card p-3 cart-page-card text-center m-auto">
                            <div class="">
                                <img src="../../../assets/icons/cry-dall.png" alt="img" class="empty-cart-img"/>
                                <p class="empty-cart-text my-2">Oops! Your Wishlist Is Empty</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </div>
        <div class="col-md-3 col-6 c-row mt-2 mb-4" *ngFor="let products of favo">
          <div class="card pb-3">
            <div class="gold-ring">
                <img  src="{{products.image_uri}}" />
                <!-- <img src="../../../assets/rings/gold-ring2.png" alt=""> -->
            </div>
            <div class=" card-container">
                <div class="row heart-row">
                    <div class="col-md-10">
                    <span class="diamond">{{products.pname}}</span>
                    </div>
                    <div class="col-md-2 ">
                        <div>
                          <img class="icon-heart" src="../../assets/icons/heart.png">
                        </div>
                    </div>
                </div> 
                <div class="price-block">
                    <span class="price">{{products.totalprice| currency:'INR'}}</span><span class="strike-block">$28,424.00</span>
                </div>
                <div class="zero-block">
                    <span class="zero">Zero Marketing Changes</span>
                </div>
                <div class="icons">
                        <span><i class="fa-sharp fa-solid fa-star"></i></span>
                        <span class="icon-i"><i class="fa-sharp fa-solid fa-star"></i></span>
                        <span class="icon-i"><i class="fa-sharp fa-solid fa-star"></i></span>
                        <span class="icon-i"><i class="fa-sharp fa-solid fa-star"></i></span>
                        <span class="icon-i"><i class="fa-sharp fa-solid fa-star"></i></span>
                </div>
                <div class="add-card-block">
                    <button class="add-card" (click)=" movetofav(products.id,products.size)">Add to Cart</button>
                </div>
                <div class="buy-now-block">
                    <!-- <button routerLink="Ecommerce/details/{{products.id}}" class="buy-now">Delete</button> -->
                    <button (click)="del(products.id)" class="buy-now">Delete</button>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>
  
