.header-margin-topEx{
    margin-top: 220px;
  }
  .min-height{
    min-height: 70vh;
  }
.address-edit-settings {

    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0;
    }
    .fa-undo{
      color: white;
    }
  }
  .mandatory {
    color: red;
    font-size: 20px;
  }
  .back{
      background: #8080803d;
      
  }
  .btn-clr{
      background: #1a2e22;
  }