.header-margin-topEx{
  margin-top: 220px;
}
.min-height{
  min-height: 70vh;
}
.address-add-settings {
    h1 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 0;
    }
  
    .fa-undo {
      color: white;
    }
  }
  .mandatory {
    color: red;
    font-size: 20px;
  }
  .add-sub {
    border: none;
    background: #ffc107;
    color: #1a2e22;
    font-weight: 500;
  }
  .back{
    background: rgba(128, 128, 128, .2392156863);
    margin-bottom: 50px !important;
      
  }
  .btn-clr{
    background: #1a2e22;
  }