<section class="ot-sec">
    <div class="container">
      <div class="row ot-row">
        <div class="col-md-2">
          <img class="img-1" src="assets/images/pendant.jpg" alt="">
        </div>
        <div class="col-md-10 three-col">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, minima.</p>
          <p>₹9874</p>
          <div class="card card-timeline px-2 border-none">
            <ul class="bs4-order-tracking">
              <li class="step active">
                <div><i class="fas fa-user"></i></div>
                Order Placed
              </li>
              <li class="step active">
                <div><i class="fas fa-bread-slice"></i></div>
                In transit
              </li>
              <li class="step">
                <div><i class="fas fa-truck"></i></div>
                Out for delivery
              </li>
              <li class="step ">
                <div><i class="fas fa-birthday-cake"></i></div>
                Delivered
              </li>
              <li class="step ">
                <div><i class="fas fa-birthday-cake"></i></div>
                Delivered
              </li>
              <li class="step ">
                <div><i class="fas fa-birthday-cake"></i></div>
                Delivered
              </li>
            </ul>
  
          </div>
        </div>
      </div>
  
  
  
  
    </div>
  </section>
  
