<section class="header-margin-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="hand-together">
                    <img src="../../../assets/banners/wedding-banner.jpg">
                </div>
                <div class="home-wedding-block">
                    <span class="home-wedding">Home</span><span class="home-wedding">/</span><span class="home-wedding">Wedding</span>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row wedding-row ">
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/32">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding1.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">GUJARAT</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/32">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding2.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">MAHARASHTRA</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/32">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding3.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">ANDHRA PRADESH</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/32">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding4.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">KERALA</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wedding-row">
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/32">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding5.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">PUNJAB</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/32">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding6.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">TAMILNAADU</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/32">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding7.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">DELHI</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/32">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding8.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">BANGLA-ODISHA</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row wedding-row">
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/21">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding9.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">MADYAPRADESH</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/21">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding10.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">KARNATAKA</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/21">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding11.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">UTTAR PRADESH</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wedding-card" routerLink="/Ecommerce/wedding/categories/21">
                    <div class="wedding1-img">
                        <img src="../../../assets/wedding/wedding12.jpg">
                    </div>
                    <div class="text-center gujarat">
                        <span class="gujarat-para">RAJASTHAN</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
