@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=Lato&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400;1,600&family=Lato&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,600;1,400;1,600&family=Lato&family=Lora:wght@500&family=Poppins&display=swap');
.hand-together img{
    width: 100%;
    height: 400px;
}
.home-wedding{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.4px;
    letter-spacing: 1.15%;
    color: #6E7191;
}
.home-wedding-block{
    padding-left: 120px;
    padding-bottom: 36px;
    padding-top: 24px;
}
.wedding1-img img{
    height: 400px;
    width: 312px;
}
.gujarat{
    width: 312px;
    height: 34px;
    background-color: #013220;
}
.gujarat-para{
   
    font-weight: 500;
    font-size: 14px;
    font-family: 'Lora', serif;
    color: #FFFFFF;
    line-height: 18.2px;
    letter-spacing: 2%;

}
.wedding-row{
    padding-bottom: 40px;
}
