<!-- <div class="form-group form-check form-check-inline" *ngFor="let filter of filters ">
    <input type="checkbox" id="checkbox-{{filter.id}}" class="form-check-input" (change)="filterChange.emit(filter)"
      value="{{filter.name}}" />
    <label class="form-check-label" for="checkbox-{{filter.id}}">{{filter.vis}}</label>
  </div> -->
  <select class="btn dropdown-toggle dropdown-text">
    <option selected disabled hidden>Select Brand</option>
    <option *ngFor="let filter of filters"  id="checkbox-{{filter.id}}" class="form-check-input" (change)="filterChange.emit(filter)"
    value="{{filter.name}}">{{filter.name}}</option>
  </select>
  
