<section class="header-margin-top">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <!-- <div class="col-12 d-flex justify-content-center">
          <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_0s6tfbuc.json" background="transparent"
            speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>
        </div> -->
        <div class="col-12 d-flex justify-content-center min-height nogifts">
          <h5 class="text-center">No Gift Cards</h5>
        </div>
  
      </div>
    </div>
    <!-- <div class="container">
      <div class="row">
        <div class="col-md-12 cards-mbl">
          <div class="row mb-5 list-items">
            <div class="col-6 col-md-4  col-card" *ngFor="let products of giftcard">
              <div class="card">
                <div class="row">
  
                  <div class="col-md-12">
                    <li class="nav-content-item heart-icon" (click)="wish(products.id,products.size)"><a
                        class="nav-content-link"><i class="fas fa-heart home-icons"></i>
                        <p class="mb-0"></p>
                      </a></li>
                    <img class="sm-img" src="{{products.image_uri}}" alt="">
                  </div>
                </div>
                <div class="padding-product d-flex justify-content-between">
                  <h6 class="prod-name">{{products.pname}}</h6>
                  <p class="mb-1 card-p">Weight:&nbsp;&nbsp;&nbsp;{{products.weight}}grams</p>
                  <h6 class="cost-card">{{products.totalprice |currency:'INR':'symbol':'3.0'}}/-</h6>
                </div>
  
              </div>
              <div class="row mt-1 ">
                <div class="col-md-12">
                  <button class="but-add" (click)="func(products.id,products.size)">Add to Cart <i
                      class="fas fa-shopping-cart"></i></button>
                </div>
                <div class="col-md-3">
                
                  <button (click)="wish(products.id,products.size)"
                    class="but-add ">Wishlist<i class="fas fa-heart heart"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </section>
  