/* You can add global styles to this file, and also import other style files */
.header-margin-top{
    margin-top: 188.8px !important;
}
.min-height{
    min-height: 35vh;
}
.form-check-input:checked{
    background-color: #F8C02C !important;
    border-color: #0d0c08 !important;
    box-shadow: 0 0 0 0.25px #edd368 !important;
}
.form-check-input {
    margin: 5px 6px 5px 6px !important;
}
