<footer class="footer-sec">
    <div class="container">
      <div class="row footer-row">
        <div class="col-md-2">
          <div class="footer-head">
            <span class="footer-para">Quick Links</span>
          </div>
          <div class="main-sub">
            <div class="sub-head">
              <span class="sub-para" routerLink="/Ecommerce/myorders" routerLinkActive="active">My Orders</span>
            </div>
            <div class="sub-head">
              <span class="sub-para" routerLink="/Ecommerce/wedding" routerLinkActive="active">Wedding</span>
            </div>
            <div class="sub-head">
              <span class="sub-para" routerLink="/Ecommerce/wishlist" routerLinkActive="active">Wishlist</span>
            </div>
            <div class="sub-head">
              <span class="sub-para" routerLink="/Ecommerce/cart" routerLinkActive="active">Cart</span>
            </div>
            <div class="sub-head">
              <span class="sub-para" routerLink="/Ecommerce/offers" routerLinkActive="active">Offers</span>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-head">
            <span class="footer-para">Quick Links</span>
          </div>
         <div class="row">
          <div class="col-md-3">
            <div class="sub-head">
              <span class="sub-para">Tollfree</span>
            </div>
          </div>
          <div class="col-md-1">
            <div class="sub-head">
              <span class="sub-para">:</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sub-head">
              <span class="sub-para">18008906122</span>
            </div>
          </div>
         </div>
         <div class="row">
          <div class="col-md-3">
            <div class="sub-head">
              <span class="sub-para">Phone</span>
            </div>
          </div>
          <div class="col-md-1">
            <div class="sub-head">
              <span class="sub-para">:</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sub-head">
              <span class="sub-para">040 40137575</span>
            </div>
          </div>
         </div>
         <div class="row">
          <div class="col-md-3">
            <div class="sub-head">
              <span class="sub-para">Phone</span>
            </div>
          </div>
          <div class="col-md-1">
            <div class="sub-head">
              <span class="sub-para">:</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sub-head">
              <span class="sub-para">040 23222175</span>
            </div>
          </div>
         </div>
         <div class="row">
          <div class="col-md-3">
            <div class="sub-head">
              <span class="sub-para">WhatsApp</span>
            </div>
          </div>
          <div class="col-md-1">
            <div class="sub-head">
              <span class="sub-para">:</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sub-head">
              <span class="sub-para">9989874992</span>
            </div>
          </div>
         </div>
         <div class="row">
          <div class="col-md-3">
            <div class="sub-head">
              <span class="sub-para">Email</span>
            </div>
          </div>
          <div class="col-md-1">
            <div class="sub-head">
              <span class="sub-para">:</span>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sub-head">
              <span class="sub-para">info@goldsikka.com</span>
            </div>
          </div>
         </div>
        </div>
        <div class="col-md-3">
          <div class="footer-head">
            <span class="footer-para">Company Details</span>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="sub-head">
                <span class="sub-para">CIN NO </span>
              </div>
            </div>
            <div class="col-md-1">
              <div class="sub-head">
                <span class="sub-para">:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="sub-head">
                <span class="sub-para">U51909TG2019PLC130903</span>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-3">
              <div class="sub-head">
                <span class="sub-para">PAN NO</span>
              </div>
            </div>
            <div class="col-md-1">
              <div class="sub-head">
                <span class="sub-para">:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="sub-head">
                <span class="sub-para">AAHCG7082N</span>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-3">
              <div class="sub-head">
                <span class="sub-para">TAN NO</span>
              </div>
            </div>
            <div class="col-md-1">
              <div class="sub-head">
                <span class="sub-para">:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="sub-head">
                <span class="sub-para">HYDG18885G</span>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-3">
              <div class="sub-head">
                <span class="sub-para">GSTIN No</span>
              </div>
            </div>
            <div class="col-md-1">
              <div class="sub-head">
                <span class="sub-para">:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="sub-head">
                <span class="sub-para">36AAHCG7082N1ZZ</span>
              </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-3">
              <div class="sub-head">
                <span class="sub-para">IEC NO</span>
              </div>
            </div>
            <div class="col-md-1">
              <div class="sub-head">
                <span class="sub-para">:</span>
              </div>
            </div>
            <div class="col-md-6">
              <div class="sub-head">
                <span class="sub-para">AAHCG7082N</span>
              </div>
            </div>
           </div>
        </div>
        <div class="col-md-3">
          <div class="footer-head">
            <span class="footer-para">Follow Us</span>
          </div>
          <div class="social-icons-row">
            <a href="https://www.facebook.com/matrika.goldsikka" target="_blank"><span ><img class="social-icon" src="../../../assets/banners/social meadia icons/Frame 76.png"></span></a>
            <a href="https://www.instagram.com/matrika_goldsikka"><span class="social-icons"><img class="social-icon" src="../../../assets/banners/social meadia icons/Frame 77.png"></span></a>
            <a href="https://www.linkedin.com/company/goldsikkalimited/" target="_blank"><span class="social-icons"><img class="social-icon" src="../../../assets/banners/social meadia icons/Frame 78.png"></span></a>
          </div>
          <div>
            <a href="https://twitter.com/matrika_gs" target="_blank"><span><img class="social-icon" src="../../../assets/banners/social meadia icons/Frame 79.png"></span></a>
            <a href="https://in.pinterest.com/Matrika_goldsikka"><span class="social-icons"><img class="social-icon" src="../../../assets/banners/social meadia icons/Frame 80.png"></span></a>
            <a href="https://youtube.com/@matrika_goldsikka" target="_blank"><span class="social-icons"><img class="social-icon" src="../../../assets/banners/social meadia icons/Frame 81.png"></span></a>
          </div>
        </div>
      </div>
  
  
      <div class="row footer-row-two">
        <div class="col-md-6">
          <div>
            <span class="gold-ltd">2021-2022 Goldsikka Ltd.</span><span class="gold-ltds">Design by:<span class="xyug"> X-YUG Technologies</span></span>
          </div>
        </div>
        <div class="col-md-6">
          <div>
            <span class="we">WE ACCPET :&nbsp;&nbsp; <span class="payment-img  "><img src="../../../assets/icons/payment-img.png" alt=""></span></span>
          </div>
        </div>
      </div>
    </div>
  </footer>